HELP.md

### Maven ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### Sensitive Config Files ###
src/main/resources/application.properties

### Sensitive Java Files (Temporary Ignore) ###
src/main/java/com/midas/consulting/service/MicrosoftAuthenticationProvider.java
src/main/java/com/midas/consulting/service/hrms/onedrive/OneDriveAuthService.java
src/main/java/com/midas/consulting/constants/OneDriveConstants.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### Database ###
db/data/*

### Mac OS ###
.DS_Store